body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    text-align: center;
    color: fff;
}
nav{
    font-size: 1.2em; 
    color: #fff;
}
.navbar-title-white {
    color: white;
    text-align:justify;
}
.navbar-menu{
    color: white;
}
.bordes-p {
    max-width: 90.4em;
    margin: 0 auto;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}
.parrafo{
    color: white;
    text-align:left;
}
.bordes-x {
    margin: 0 auto;
    border: 0;
    background-color: black;
    
}
.bordes-z {
 
    background-color: black;
}
#Presentacion{
    padding: 2em;
}
#back-p{
    background-color: black;
}