body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    text-align: center;
    color: fff;
}
nav {
    font-size: 1.2em;
    color: #fff;
}
.navbar-title-white {
    color: white;
    text-align: justify;
}
.navbar-menu {
    color: white;
}
.bordes-p {
    max-width: 90.4em;
    margin: 0 auto;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}
.parrafo {
    color: white;
    text-align: left;
}

.bordes-x {
    margin: 0 auto;
    border: 1px;
    background-color: black;
}
.bordes-z {
    margin: 0 auto;
    border: 1px;

    background-color: black;
    padding: 10px;
}
#Presentacion {
    padding: 2em;
}
#Presentacion i {
    font-size: 1.7em;
    color: #fff;
}
#back-p {
    background-color: black;
}
#titulos {
    color: #fff;
}

.custom-hr {
   
    margin-left: auto;
    margin-right: auto;
}
#Destacados {
    padding: 1em;
}

#Destacados div {
    border: 0px;
}
#Destacados img {
    height: 10em;
}
#Destacados p {
    color: #fff;
    text-align: left;
}
#Contacto {
    color: #fff;
    text-align: left;
}
#Contacto button {
    color: #fff;

}
footer {
    color: #fff;
    padding: 1em;
}
footer i {
    font-size: 1.7em;
    padding: 0.2em;

}
.efectoimg {
    overflow: hidden;
}

.efectoimgimg {
    transition: transform .5s ease;
}
.efectoimg:hover img {
    transform: scale(1.2);
}